.e36_270 { 
	overflow:hidden;
	width:1902.22216796875px;
	height:1070px;
	position:absolute;
}
.e36_230 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:169.9739990234375px;
}
.e36_271 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_271_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_1_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_271_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_272 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_272_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_272_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_231 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:169.9739990234375px;
}
.e36_233 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:169.9739990234375px;
}
.e36_273 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:169.9739990234375px;
	background-image:url(images1/slice_3_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_273_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:169.9739990234375px;
	background-image:url(images1/slice_3_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_273_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:169.9739990234375px;
	background-image:url(images1/slice_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_235 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:937.6431884765625px;
	top:169.9739990234375px;
}
.e36_274 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:937.6431884765625px;
	top:169.9739990234375px;
	background-image:url(images1/slice_4_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_274_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:937.6431884765625px;
	top:169.9739990234375px;
	background-image:url(images1/slice_4_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_274_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:937.6431884765625px;
	top:169.9739990234375px;
	background-image:url(images1/slice_4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_275 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1155.915771484375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_5_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_275_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1155.915771484375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_5_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_275_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1155.915771484375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_237 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1155.915771484375px;
	top:169.9739990234375px;
}
.e36_239 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1374.1883544921875px;
	top:169.9739990234375px;
}
.e36_276 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1374.1883544921875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_6_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_276_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1374.1883544921875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_6_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_276_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1374.1883544921875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_6_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_241 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1592.4609375px;
	top:169.9739990234375px;
}
.e36_277 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1592.4609375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_7_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_277_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1592.4609375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_7_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_277_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1592.4609375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_7_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_243 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:444.4400634765625px;
}
.e36_278 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:444.4400634765625px;
	background-image:url(images1/slice_8_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_278_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:444.4400634765625px;
	background-image:url(images1/slice_8_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_278_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:42.26123046875px;
	top:444.4400634765625px;
	background-image:url(images1/slice_8_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_245 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:666.892333984375px;
}
.e36_279 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:666.892333984375px;
	background-image:url(images1/slice_9_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_279_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:666.892333984375px;
	background-image:url(images1/slice_9_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_279_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:380.81591796875px;
	top:666.892333984375px;
	background-image:url(images1/slice_9_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_247 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:666.892333984375px;
}
.e36_280 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:666.892333984375px;
	background-image:url(images1/slice_10_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_280_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:666.892333984375px;
	background-image:url(images1/slice_10_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_280_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:599.08837890625px;
	top:666.892333984375px;
	background-image:url(images1/slice_10_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_249 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:817.361083984375px;
	top:666.892333984375px;
}
.e36_281 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:817.361083984375px;
	top:666.892333984375px;
	background-image:url(images1/slice_11_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_281_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:817.361083984375px;
	top:666.892333984375px;
	background-image:url(images1/slice_11_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_281_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:817.361083984375px;
	top:666.892333984375px;
	background-image:url(images1/slice_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_251 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1035.6336669921875px;
	top:666.892333984375px;
}
.e36_282 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1035.6336669921875px;
	top:666.892333984375px;
	background-image:url(images1/slice_12_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_282_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1035.6336669921875px;
	top:666.892333984375px;
	background-image:url(images1/slice_12_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_282_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1035.6336669921875px;
	top:666.892333984375px;
	background-image:url(images1/slice_12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_253 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1378.3680419921875px;
	top:666.892333984375px;
}
.e36_283 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1378.3680419921875px;
	top:666.892333984375px;
	background-image:url(images1/slice_13_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_283_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1378.3680419921875px;
	top:666.892333984375px;
	background-image:url(images1/slice_13_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_283_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1378.3680419921875px;
	top:666.892333984375px;
	background-image:url(images1/slice_13_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_255 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1596.640625px;
	top:666.892333984375px;
}
.e36_284 { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1596.640625px;
	top:666.892333984375px;
	background-image:url(images1/slice_14_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_284_s { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1596.640625px;
	top:666.892333984375px;
	background-image:url(images1/slice_14_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_284_r { 
	width:218.27256774902344px;
	height:181.1197967529297px;
	position:absolute;
	left:1596.640625px;
	top:666.892333984375px;
	background-image:url(images1/slice_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_257 { 
	width:1902.22216796875px;
	height:169.9739532470703px;
	position:absolute;
	left:0px;
	top:0px;
}
.e36_285 { 
	width:1902.22216796875px;
	height:169.9739532470703px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images1/slice_15_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_259 { 
	width:1902.22216796875px;
	height:221.98785400390625px;
	position:absolute;
	left:0px;
	top:848.0121459960938px;
}
.e36_286 { 
	width:1902.22216796875px;
	height:221.98785400390625px;
	position:absolute;
	left:0px;
	top:848.0121459960938px;
	background-image:url(images1/slice_16_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_261 { 
	width:1902.22216796875px;
	height:41.33246612548828px;
	position:absolute;
	left:0px;
	top:625.559814453125px;
}
.e36_287 { 
	width:1902.22216796875px;
	height:41.33246612548828px;
	position:absolute;
	left:0px;
	top:625.559814453125px;
	background-image:url(images1/slice_17_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_262 { 
	width:1902.22216796875px;
	height:93.34635162353516px;
	position:absolute;
	left:0px;
	top:351.09375px;
}
.e36_288 { 
	width:1902.22216796875px;
	height:93.34635162353516px;
	position:absolute;
	left:0px;
	top:351.09375px;
	background-image:url(images1/slice_18_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_263 { 
	width:42.26128387451172px;
	height:181.1197967529297px;
	position:absolute;
	left:0px;
	top:169.9739990234375px;
}
.e36_289 { 
	width:42.26128387451172px;
	height:181.1197967529297px;
	position:absolute;
	left:0px;
	top:169.9739990234375px;
	background-image:url(images1/slice_19_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_264 { 
	width:42.26128387451172px;
	height:181.1197967529297px;
	position:absolute;
	left:0px;
	top:444.4400634765625px;
}
.e36_290 { 
	width:42.26128387451172px;
	height:181.1197967529297px;
	position:absolute;
	left:0px;
	top:444.4400634765625px;
	background-image:url(images1/slice_19_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_266 { 
	width:1641.6883544921875px;
	height:181.1197967529297px;
	position:absolute;
	left:260.533935546875px;
	top:444.4400634765625px;
}
.e36_291 { 
	width:1641.6883544921875px;
	height:181.1197967529297px;
	position:absolute;
	left:260.533935546875px;
	top:444.4400634765625px;
	background-image:url(images1/slice_21_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_267 { 
	width:380.8159484863281px;
	height:181.1197967529297px;
	position:absolute;
	left:0px;
	top:666.892333984375px;
}
.e36_292 { 
	width:380.8159484863281px;
	height:181.1197967529297px;
	position:absolute;
	left:0px;
	top:666.892333984375px;
	background-image:url(images1/slice_22_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_268 { 
	width:91.48871612548828px;
	height:181.1197967529297px;
	position:absolute;
	left:1810.7333984375px;
	top:169.9739990234375px;
}
.e36_293 { 
	width:91.48871612548828px;
	height:181.1197967529297px;
	position:absolute;
	left:1810.7333984375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_23_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_269 { 
	width:87.30902862548828px;
	height:181.1197967529297px;
	position:absolute;
	left:1814.9130859375px;
	top:666.892333984375px;
}
.e36_294 { 
	width:87.30902862548828px;
	height:181.1197967529297px;
	position:absolute;
	left:1814.9130859375px;
	top:666.892333984375px;
	background-image:url(images1/slice_24_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_295 { 
	width:120.28211212158203px;
	height:181.1197967529297px;
	position:absolute;
	left:260.533935546875px;
	top:169.9739990234375px;
}
.e36_298 { 
	width:120.28211212158203px;
	height:181.1197967529297px;
	position:absolute;
	left:260.533935546875px;
	top:169.9739990234375px;
	background-image:url(images1/slice_25_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_296 { 
	width:120.28211212158203px;
	height:181.1197967529297px;
	position:absolute;
	left:817.361083984375px;
	top:169.9739990234375px;
}
.e36_299 { 
	width:120.28211212158203px;
	height:181.1197967529297px;
	position:absolute;
	left:817.361083984375px;
	top:169.9739990234375px;
	background-image:url(images1/slice_26_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_297 { 
	width:124.46179962158203px;
	height:181.1197967529297px;
	position:absolute;
	left:1253.90625px;
	top:666.892333984375px;
}
.e36_300 { 
	width:124.46179962158203px;
	height:181.1197967529297px;
	position:absolute;
	left:1253.90625px;
	top:666.892333984375px;
	background-image:url(images1/slice_27_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
@keyframes blink {
    0%, 100% { opacity: 1; }  /* Pada awal dan akhir siklus, elemen terlihat sepenuhnya */
    50% { opacity: 0; }       /* Di tengah siklus, elemen akan menghilang (transparan) */
}