.117_487 { 
	overflow:hidden;
}
.e117_487 { 
	width:1902.22216796875px;
	height:1070px;
	position:absolute;
}
.e116_365 { 
	width:176.94009399414062px;
	height:259.60504150390625px;
	position:absolute;
	left:103.5634765625px;
	top:163.0078125px;
}
.e131_494 { 
	width:176.94009399414062px;
	height:259.60504150390625px;
	position:absolute;
	left:103.5634765625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2632_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_494_s { 
	width:176.94009399414062px;
	height:259.60504150390625px;
	position:absolute;
	left:103.5634765625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2632_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_494_bs { 
	width:176.94009399414062px;
	height:259.60504150390625px;
	position:absolute;
	left:103.5634765625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2632_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_494_r { 
	width:176.94009399414062px;
	height:259.60504150390625px;
	position:absolute;
	left:103.5634765625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2632_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e116_366 { 
	width:77.09201049804688px;
	height:104.02777862548828px;
	position:absolute;
	left:26.471435546875px;
	top:163.0078125px;
}
.e131_495 { 
	width:77.09201049804688px;
	height:104.02777862548828px;
	position:absolute;
	left:26.471435546875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/anti_pilling_revisi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*
.e131_495_s { 
	width:77.09201049804688px;
	height:104.02777862548828px;
	position:absolute;
	left:26.471435546875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/anti_pilling_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_495_r { 
	width:77.09201049804688px;
	height:104.02777862548828px;
	position:absolute;
	left:26.471435546875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/anti_pilling_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
*/
.e116_367 { 
	width:206.19790649414062px;
	height:259.60504150390625px;
	position:absolute;
	left:280.50341796875px;
	top:163.0078125px;
}
.e131_496 { 
	width:206.19790649414062px;
	height:259.60504150390625px;
	position:absolute;
	left:280.50341796875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2633_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_496_s { 
	width:206.19790649414062px;
	height:259.60504150390625px;
	position:absolute;
	left:280.50341796875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2633_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_496_bs { 
	width:206.19790649414062px;
	height:259.60504150390625px;
	position:absolute;
	left:280.50341796875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2633_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_496_r { 
	width:206.19790649414062px;
	height:259.60504150390625px;
	position:absolute;
	left:280.50341796875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2633_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_368 { 
	width:186.6927032470703px;
	height:259.60504150390625px;
	position:absolute;
	left:486.701416015625px;
	top:163.0078125px;
}
.e131_497 { 
	width:186.6927032470703px;
	height:259.60504150390625px;
	position:absolute;
	left:486.701416015625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2634_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_497_s { 
	width:186.6927032470703px;
	height:259.60504150390625px;
	position:absolute;
	left:486.701416015625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2634_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_497_bs { 
	width:186.6927032470703px;
	height:259.60504150390625px;
	position:absolute;
	left:486.701416015625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2634_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_497_r { 
	width:186.6927032470703px;
	height:259.60504150390625px;
	position:absolute;
	left:486.701416015625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2634_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_369 { 
	width:103.56336212158203px;
	height:158.828125px;
	position:absolute;
	left:673.39404296875px;
	top:163.0078125px;
}
.e131_498 { 
	width:103.56336212158203px;
	height:158.828125px;
	position:absolute;
	left:673.39404296875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2635_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_498_s { 
	width:103.56336212158203px;
	height:158.828125px;
	position:absolute;
	left:673.39404296875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2635_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_498_bs { 
	width:103.56336212158203px;
	height:158.828125px;
	position:absolute;
	left:673.39404296875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2635_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_498_r { 
	width:103.56336212158203px;
	height:158.828125px;
	position:absolute;
	left:673.39404296875px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2635_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_370 { 
	width:103.56336212158203px;
	height:100.77690887451172px;
	position:absolute;
	left:673.39404296875px;
	top:321.8359375px;
}
.e116_371 { 
	width:170.90277099609375px;
	height:259.60504150390625px;
	position:absolute;
	left:776.95751953125px;
	top:163.0078125px;
}
.e131_500 { 
	width:170.90277099609375px;
	height:259.60504150390625px;
	position:absolute;
	left:776.95751953125px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2636_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_500_s { 
	width:170.90277099609375px;
	height:259.60504150390625px;
	position:absolute;
	left:776.95751953125px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2636_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_500_bs { 
	width:170.90277099609375px;
	height:259.60504150390625px;
	position:absolute;
	left:776.95751953125px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2636_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_500_r { 
	width:170.90277099609375px;
	height:259.60504150390625px;
	position:absolute;
	left:776.95751953125px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_2636_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_372 { 
	width:173.22482299804688px;
	height:182.04861450195312px;
	position:absolute;
	left:947.8603515625px;
	top:163.0078125px;
}
.e131_501 { 
	width:173.22482299804688px;
	height:182.04861450195312px;
	position:absolute;
	left:947.8603515625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_1474_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_501_s { 
	width:173.22482299804688px;
	height:182.04861450195312px;
	position:absolute;
	left:947.8603515625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_1474_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_501_bs { 
	width:173.22482299804688px;
	height:182.04861450195312px;
	position:absolute;
	left:947.8603515625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_1474_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_501_r { 
	width:173.22482299804688px;
	height:182.04861450195312px;
	position:absolute;
	left:947.8603515625px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/m_1474_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_373 { 
	width:178.79774475097656px;
	height:72.44791412353516px;
	position:absolute;
	left:1147.092041015625px;
	top:145.82470703125px;
}
.e131_502 { 
	width:178.79774475097656px;
	height:72.44791412353516px;
	position:absolute;
	left:1147.092041015625px;
	top:145.82470703125px;
	background-image:url(imagesDYEAtas/m_2641a_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_502_s { 
	width:178.79774475097656px;
	height:72.44791412353516px;
	position:absolute;
	left:1147.092041015625px;
	top:145.82470703125px;
	background-image:url(imagesDYEAtas/m_2641a_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_502_bs { 
	width:178.79774475097656px;
	height:72.44791412353516px;
	position:absolute;
	left:1147.092041015625px;
	top:145.82470703125px;
	background-image:url(imagesDYEAtas/m_2641a_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_502_r { 
	width:178.79774475097656px;
	height:72.44791412353516px;
	position:absolute;
	left:1147.092041015625px;
	top:145.82470703125px;
	background-image:url(imagesDYEAtas/m_2641a_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_503 { 
	width:178.79774475097656px;
	height:74.30555725097656px;
	position:absolute;
	left:1147.092041015625px;
	top:218.2724609375px;
	background-image:url(imagesDYEAtas/m_2640_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_503_s { 
	width:178.79774475097656px;
	height:74.30555725097656px;
	position:absolute;
	left:1147.092041015625px;
	top:218.2724609375px;
	background-image:url(imagesDYEAtas/m_2640_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_503_bs { 
	width:178.79774475097656px;
	height:74.30555725097656px;
	position:absolute;
	left:1147.092041015625px;
	top:218.2724609375px;
	background-image:url(imagesDYEAtas/m_2640_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_503_r { 
	width:178.79774475097656px;
	height:74.30555725097656px;
	position:absolute;
	left:1147.092041015625px;
	top:218.2724609375px;
	background-image:url(imagesDYEAtas/m_2640_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_504 { 
	width:178.79774475097656px;
	height:73.37673950195312px;
	position:absolute;
	left:1147.092041015625px;
	top:292.578125px;
	background-image:url(imagesDYEAtas/m_2639_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_504_s { 
	width:178.79774475097656px;
	height:73.37673950195312px;
	position:absolute;
	left:1147.092041015625px;
	top:292.578125px;
	background-image:url(imagesDYEAtas/m_2639_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_504_bs { 
	width:178.79774475097656px;
	height:73.37673950195312px;
	position:absolute;
	left:1147.092041015625px;
	top:292.578125px;
	background-image:url(imagesDYEAtas/m_2639_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_504_r { 
	width:178.79774475097656px;
	height:73.37673950195312px;
	position:absolute;
	left:1147.092041015625px;
	top:292.578125px;
	background-image:url(imagesDYEAtas/m_2639_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_505 { 
	width:178.79774475097656px;
	height:72.91232299804688px;
	position:absolute;
	left:1147.092041015625px;
	top:365.954833984375px;
	background-image:url(imagesDYEAtas/m_2638_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_505_s { 
	width:178.79774475097656px;
	height:72.91232299804688px;
	position:absolute;
	left:1147.092041015625px;
	top:365.954833984375px;
	background-image:url(imagesDYEAtas/m_2638_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_505_bs { 
	width:178.79774475097656px;
	height:72.91232299804688px;
	position:absolute;
	left:1147.092041015625px;
	top:365.954833984375px;
	background-image:url(imagesDYEAtas/m_2638_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_505_r { 
	width:178.79774475097656px;
	height:72.91232299804688px;
	position:absolute;
	left:1147.092041015625px;
	top:365.954833984375px;
	background-image:url(imagesDYEAtas/m_2638_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_374 { 
	width:178.79774475097656px;
	height:74.30555725097656px;
	position:absolute;
	left:1147.092041015625px;
	top:218.2724609375px;
}
.e116_375 { 
	width:178.79774475097656px;
	height:73.37673950195312px;
	position:absolute;
	left:1147.092041015625px;
	top:292.578125px;
}
.e116_376 { 
	width:178.79774475097656px;
	height:72.91232299804688px;
	position:absolute;
	left:1147.092041015625px;
	top:365.954833984375px;
}
.e116_377 { 
	width:55.729164123535156px;
	height:98.45486450195312px;
	position:absolute;
	left:1344.001708984375px;
	top:169.509521484375px;
}
.e131_506 { 
	width:55.729164123535156px;
	height:98.45486450195312px;
	position:absolute;
	left:1344.001708984375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_test_soaping_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_506_s { 
	width:55.729164123535156px;
	height:98.45486450195312px;
	position:absolute;
	left:1344.001708984375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_test_soaping_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_506_bs { 
	width:55.729164123535156px;
	height:98.45486450195312px;
	position:absolute;
	left:1344.001708984375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_test_soaping_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_506_r { 
	width:55.729164123535156px;
	height:98.45486450195312px;
	position:absolute;
	left:1344.001708984375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_test_soaping_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_378 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1399.73095703125px;
	top:169.509521484375px;
}
.e131_507 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1399.73095703125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1470_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_507_s { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1399.73095703125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1470_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_507_bs { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1399.73095703125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1470_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_507_r { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1399.73095703125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1470_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_379 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1454.53125px;
	top:169.509521484375px;
}
.e131_508 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1454.53125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1471_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_508_s { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1454.53125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1471_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_508_bs { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1454.53125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1471_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_508_r { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1454.53125px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1471_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_380 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1509.33154296875px;
	top:169.509521484375px;
}
.e131_509 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1509.33154296875px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1472_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_509_s { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1509.33154296875px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1472_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_509_bs { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1509.33154296875px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1472_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_509_r { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1509.33154296875px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1472_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e116_381 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1564.1318359375px;
	top:169.509521484375px;
}
.e131_510 { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1564.1318359375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1473_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_510_s { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1564.1318359375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1473_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_510_bs { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1564.1318359375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1473_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_510_r { 
	width:54.80034637451172px;
	height:98.45486450195312px;
	position:absolute;
	left:1564.1318359375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1473_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_382 { 
	width:54.3359375px;
	height:98.45486450195312px;
	position:absolute;
	left:1618.93212890625px;
	top:169.509521484375px;
}
.e131_511 { 
	width:54.3359375px;
	height:98.45486450195312px;
	position:absolute;
	left:1618.93212890625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1468_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_511_s { 
	width:54.3359375px;
	height:98.45486450195312px;
	position:absolute;
	left:1618.93212890625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1468_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_511_bs { 
	width:54.3359375px;
	height:98.45486450195312px;
	position:absolute;
	left:1618.93212890625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1468_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_511_r { 
	width:54.3359375px;
	height:98.45486450195312px;
	position:absolute;
	left:1618.93212890625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1468_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_383 { 
	width:57.5868034362793px;
	height:98.45486450195312px;
	position:absolute;
	left:1673.26806640625px;
	top:169.509521484375px;
}
.e131_512 { 
	width:57.5868034362793px;
	height:98.45486450195312px;
	position:absolute;
	left:1673.26806640625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1469_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_512_s { 
	width:57.5868034362793px;
	height:98.45486450195312px;
	position:absolute;
	left:1673.26806640625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1469_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_512_bs { 
	width:57.5868034362793px;
	height:98.45486450195312px;
	position:absolute;
	left:1673.26806640625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1469_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_512_r { 
	width:57.5868034362793px;
	height:98.45486450195312px;
	position:absolute;
	left:1673.26806640625px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/m_1469_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_384 { 
	width:73.3767318725586px;
	height:85.91580200195312px;
	position:absolute;
	left:1421.09375px;
	top:267.96435546875px;
}
.e131_513 { 
	width:73.3767318725586px;
	height:85.91580200195312px;
	position:absolute;
	left:1421.09375px;
	top:267.96435546875px;
	background-image:url(imagesDYEAtas/peras_revisi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*
.e131_513_s { 
	width:73.3767318725586px;
	height:85.91580200195312px;
	position:absolute;
	left:1421.09375px;
	top:267.96435546875px;
	background-image:url(imagesDYEAtas/peras_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_513_r { 
	width:73.3767318725586px;
	height:85.91580200195312px;
	position:absolute;
	left:1421.09375px;
	top:267.96435546875px;
	background-image:url(imagesDYEAtas/peras_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
*/
.e116_387 { 
	width:169.04513549804688px;
	height:267.03558349609375px;
	position:absolute;
	left:304.1884765625px;
	top:665.03466796875px;
}
.e131_514 { 
	width:169.04513549804688px;
	height:267.03558349609375px;
	position:absolute;
	left:304.1884765625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2229_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_514_bs { 
	width:169.04513549804688px;
	height:267.03558349609375px;
	position:absolute;
	left:304.1884765625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2229_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_514_r { 
	width:169.04513549804688px;
	height:267.03558349609375px;
	position:absolute;
	left:304.1884765625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2229_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_388 { 
	width:114.70919799804688px;
	height:186.6927032470703px;
	position:absolute;
	left:77.092041015625px;
	top:701.2587890625px;
}
.e131_515 { 
	width:114.70919799804688px;
	height:186.6927032470703px;
	position:absolute;
	left:77.092041015625px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2231_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_515_s { 
	width:114.70919799804688px;
	height:186.6927032470703px;
	position:absolute;
	left:77.092041015625px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2231_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_515_bs { 
	width:114.70919799804688px;
	height:186.6927032470703px;
	position:absolute;
	left:77.092041015625px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2231_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_515_r { 
	width:114.70919799804688px;
	height:186.6927032470703px;
	position:absolute;
	left:77.092041015625px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2231_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_389 { 
	width:112.38714599609375px;
	height:186.6927032470703px;
	position:absolute;
	left:191.80126953125px;
	top:701.2587890625px;
}
.e131_516 { 
	width:112.38714599609375px;
	height:186.6927032470703px;
	position:absolute;
	left:191.80126953125px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2230_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_516_s { 
	width:112.38714599609375px;
	height:186.6927032470703px;
	position:absolute;
	left:191.80126953125px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2230_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_516_bs { 
	width:112.38714599609375px;
	height:186.6927032470703px;
	position:absolute;
	left:191.80126953125px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2230_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_516_r { 
	width:112.38714599609375px;
	height:186.6927032470703px;
	position:absolute;
	left:191.80126953125px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/m_2230_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_390 { 
	width:100.3125px;
	height:155.57725524902344px;
	position:absolute;
	left:473.2333984375px;
	top:743.52001953125px;
}
.e131_517 { 
	width:100.3125px;
	height:155.57725524902344px;
	position:absolute;
	left:473.2333984375px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2228_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_517_s { 
	width:100.3125px;
	height:155.57725524902344px;
	position:absolute;
	left:473.2333984375px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2228_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_517_bs { 
	width:100.3125px;
	height:155.57725524902344px;
	position:absolute;
	left:473.2333984375px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2228_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_517_r { 
	width:100.3125px;
	height:155.57725524902344px;
	position:absolute;
	left:473.2333984375px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2228_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_391 { 
	width:169.50953674316406px;
	height:267.03558349609375px;
	position:absolute;
	left:573.5458984375px;
	top:665.03466796875px;
}
.e116_392 { 
	width:102.6345443725586px;
	height:155.57725524902344px;
	position:absolute;
	left:743.0556640625px;
	top:743.52001953125px;
}
.e131_519 { 
	width:102.6345443725586px;
	height:155.57725524902344px;
	position:absolute;
	left:743.0556640625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2226_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_519_s { 
	width:102.6345443725586px;
	height:155.57725524902344px;
	position:absolute;
	left:743.0556640625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2226_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_519_bs { 
	width:102.6345443725586px;
	height:155.57725524902344px;
	position:absolute;
	left:743.0556640625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2226_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_519_r { 
	width:102.6345443725586px;
	height:155.57725524902344px;
	position:absolute;
	left:743.0556640625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2226_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_393 { 
	width:170.43836975097656px;
	height:267.03558349609375px;
	position:absolute;
	left:845.68994140625px;
	top:665.03466796875px;
}
.e131_520 { 
	width:170.43836975097656px;
	height:267.03558349609375px;
	position:absolute;
	left:845.68994140625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2625_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_520_s { 
	width:170.43836975097656px;
	height:267.03558349609375px;
	position:absolute;
	left:845.68994140625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2625_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_520_bs { 
	width:170.43836975097656px;
	height:267.03558349609375px;
	position:absolute;
	left:845.68994140625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2625_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_520_r { 
	width:170.43836975097656px;
	height:267.03558349609375px;
	position:absolute;
	left:845.68994140625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2625_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_394 { 
	width:85.9157943725586px;
	height:155.57725524902344px;
	position:absolute;
	left:1016.12841796875px;
	top:743.52001953125px;
}
.e131_521 { 
	width:85.9157943725586px;
	height:155.57725524902344px;
	position:absolute;
	left:1016.12841796875px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2224_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_521_s { 
	width:85.9157943725586px;
	height:155.57725524902344px;
	position:absolute;
	left:1016.12841796875px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2224_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_521_bs { 
	width:85.9157943725586px;
	height:155.57725524902344px;
	position:absolute;
	left:1016.12841796875px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2224_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_521_r { 
	width:85.9157943725586px;
	height:155.57725524902344px;
	position:absolute;
	left:1016.12841796875px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2224_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_522 { 
	width:71.51909637451172px;
	height:155.57725524902344px;
	position:absolute;
	left:1102.044189453125px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2623_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_522_s { 
	width:71.51909637451172px;
	height:155.57725524902344px;
	position:absolute;
	left:1102.044189453125px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2623_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_522_bs { 
	width:71.51909637451172px;
	height:155.57725524902344px;
	position:absolute;
	left:1102.044189453125px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2623_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_522_r { 
	width:71.51909637451172px;
	height:155.57725524902344px;
	position:absolute;
	left:1102.044189453125px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2623_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_396 { 
	width:71.51909637451172px;
	height:155.57725524902344px;
	position:absolute;
	left:1102.044189453125px;
	top:743.52001953125px;
}
.e116_397 { 
	width:74.30555725097656px;
	height:155.57725524902344px;
	position:absolute;
	left:1173.5634765625px;
	top:743.52001953125px;
}
.e131_523 { 
	width:74.30555725097656px;
	height:155.57725524902344px;
	position:absolute;
	left:1173.5634765625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2622_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_523_s { 
	width:74.30555725097656px;
	height:155.57725524902344px;
	position:absolute;
	left:1173.5634765625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2622_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_523_bs { 
	width:74.30555725097656px;
	height:155.57725524902344px;
	position:absolute;
	left:1173.5634765625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2622_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_523_r { 
	width:74.30555725097656px;
	height:155.57725524902344px;
	position:absolute;
	left:1173.5634765625px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/m_2622_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_398 { 
	width:213.1640625px;
	height:284.68316650390625px;
	position:absolute;
	left:1379.296875px;
	top:665.4990234375px;
}
.e131_524 { 
	width:213.1640625px;
	height:284.68316650390625px;
	position:absolute;
	left:1379.296875px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_1421_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_524_s { 
	width:213.1640625px;
	height:284.68316650390625px;
	position:absolute;
	left:1379.296875px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_1421_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_524_bs { 
	width:213.1640625px;
	height:284.68316650390625px;
	position:absolute;
	left:1379.296875px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_1421_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_524_r { 
	width:213.1640625px;
	height:284.68316650390625px;
	position:absolute;
	left:1379.296875px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_1421_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_399 { 
	width:1902.22216796875px;
	height:145.82464599609375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e131_525 { 
	width:1902.22216796875px;
	height:145.82464599609375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(imagesDYEAtas/slice_33_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_400 { 
	width:1147.092041015625px;
	height:17.18315887451172px;
	position:absolute;
	left:0px;
	top:145.82470703125px;
}
.e131_526 { 
	width:1147.092041015625px;
	height:17.18315887451172px;
	position:absolute;
	left:0px;
	top:145.82470703125px;
	background-image:url(imagesDYEAtas/slice_34_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_401 { 
	width:576.3324584960938px;
	height:23.68489646911621px;
	position:absolute;
	left:1325.8896484375px;
	top:145.82470703125px;
}
.e131_527 { 
	width:576.3324584960938px;
	height:23.68489646911621px;
	position:absolute;
	left:1325.8896484375px;
	top:145.82470703125px;
	background-image:url(imagesDYEAtas/slice_35_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_402 { 
	width:26.47135353088379px;
	height:906.9921875px;
	position:absolute;
	left:0px;
	top:163.0078125px;
}
.e131_528 { 
	width:26.47135353088379px;
	height:906.9921875px;
	position:absolute;
	left:0px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/slice_36_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_403 { 
	width:77.09201049804688px;
	height:155.57725524902344px;
	position:absolute;
	left:26.471435546875px;
	top:267.03564453125px;
}
.e131_529 { 
	width:77.09201049804688px;
	height:155.57725524902344px;
	position:absolute;
	left:26.471435546875px;
	top:267.03564453125px;
	background-image:url(imagesDYEAtas/slice_37_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_404 { 
	width:173.22482299804688px;
	height:77.55642700195312px;
	position:absolute;
	left:947.8603515625px;
	top:345.056396484375px;
}
.e131_530 { 
	width:173.22482299804688px;
	height:77.55642700195312px;
	position:absolute;
	left:947.8603515625px;
	top:345.056396484375px;
	background-image:url(imagesDYEAtas/slice_38_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_405 { 
	width:26.006942749023438px;
	height:275.859375px;
	position:absolute;
	left:1121.0849609375px;
	top:163.0078125px;
}
.e131_531 { 
	width:26.006942749023438px;
	height:275.859375px;
	position:absolute;
	left:1121.0849609375px;
	top:163.0078125px;
	background-image:url(imagesDYEAtas/slice_39_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_406 { 
	width:1094.6136474609375px;
	height:16.25434112548828px;
	position:absolute;
	left:26.471435546875px;
	top:422.61279296875px;
}
.e131_532 { 
	width:1094.6136474609375px;
	height:16.25434112548828px;
	position:absolute;
	left:26.471435546875px;
	top:422.61279296875px;
	background-image:url(imagesDYEAtas/slice_40_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_407 { 
	width:18.11197853088379px;
	height:269.3576354980469px;
	position:absolute;
	left:1325.8896484375px;
	top:169.509521484375px;
}
.e131_533 { 
	width:18.11197853088379px;
	height:269.3576354980469px;
	position:absolute;
	left:1325.8896484375px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/slice_41_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_408 { 
	width:77.09201049804688px;
	height:85.91580200195312px;
	position:absolute;
	left:1344.001708984375px;
	top:267.96435546875px;
}
.e131_534 { 
	width:77.09201049804688px;
	height:85.91580200195312px;
	position:absolute;
	left:1344.001708984375px;
	top:267.96435546875px;
	background-image:url(imagesDYEAtas/slice_42_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_409 { 
	width:35.29513931274414px;
	height:84.98697662353516px;
	position:absolute;
	left:1344.001708984375px;
	top:353.880126953125px;
}
.e131_535 { 
	width:35.29513931274414px;
	height:84.98697662353516px;
	position:absolute;
	left:1344.001708984375px;
	top:353.880126953125px;
	background-image:url(imagesDYEAtas/slice_43_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_410 { 
	width:236.38453674316406px;
	height:85.91580200195312px;
	position:absolute;
	left:1494.470458984375px;
	top:267.96435546875px;
}
.e131_536 { 
	width:236.38453674316406px;
	height:85.91580200195312px;
	position:absolute;
	left:1494.470458984375px;
	top:267.96435546875px;
	background-image:url(imagesDYEAtas/slice_44_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_411 { 
	width:198.30294799804688px;
	height:84.98697662353516px;
	position:absolute;
	left:1532.552001953125px;
	top:353.880126953125px;
}
.e131_537 { 
	width:198.30294799804688px;
	height:84.98697662353516px;
	position:absolute;
	left:1532.552001953125px;
	top:353.880126953125px;
	background-image:url(imagesDYEAtas/slice_45_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_412 { 
	width:171.3671875px;
	height:269.3576354980469px;
	position:absolute;
	left:1730.85498046875px;
	top:169.509521484375px;
}
.e131_538 { 
	width:171.3671875px;
	height:269.3576354980469px;
	position:absolute;
	left:1730.85498046875px;
	top:169.509521484375px;
	background-image:url(imagesDYEAtas/slice_46_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_413 { 
	width:1875.7508544921875px;
	height:226.16754150390625px;
	position:absolute;
	left:26.471435546875px;
	top:438.8671875px;
}
.e131_539 { 
	width:1875.7508544921875px;
	height:226.16754150390625px;
	position:absolute;
	left:26.471435546875px;
	top:438.8671875px;
	background-image:url(imagesDYEAtas/slice_47_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_414 { 
	width:277.7170104980469px;
	height:36.22395706176758px;
	position:absolute;
	left:26.471435546875px;
	top:665.03466796875px;
}
.e131_541 { 
	width:277.7170104980469px;
	height:36.22395706176758px;
	position:absolute;
	left:26.471435546875px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/slice_48_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_415 { 
	width:100.3125px;
	height:78.48524475097656px;
	position:absolute;
	left:473.2333984375px;
	top:665.03466796875px;
}
.e131_542 { 
	width:100.3125px;
	height:78.48524475097656px;
	position:absolute;
	left:473.2333984375px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/slice_49_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_416 { 
	width:102.6345443725586px;
	height:78.48524475097656px;
	position:absolute;
	left:743.0556640625px;
	top:665.03466796875px;
}
.e131_543 { 
	width:102.6345443725586px;
	height:78.48524475097656px;
	position:absolute;
	left:743.0556640625px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/slice_50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_417 { 
	width:363.16839599609375px;
	height:78.48524475097656px;
	position:absolute;
	left:1016.12841796875px;
	top:665.03466796875px;
}
.e131_544 { 
	width:363.16839599609375px;
	height:78.48524475097656px;
	position:absolute;
	left:1016.12841796875px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/slice_51_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_418 { 
	width:309.7612609863281px;
	height:284.68316650390625px;
	position:absolute;
	left:1592.4609375px;
	top:665.03466796875px;
}
.e131_545 { 
	width:309.7612609863281px;
	height:284.68316650390625px;
	position:absolute;
	left:1592.4609375px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/slice_52_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_419 { 
	width:131.42794799804688px;
	height:206.1979217529297px;
	position:absolute;
	left:1247.868896484375px;
	top:743.52001953125px;
}
.e131_546 { 
	width:131.42794799804688px;
	height:206.1979217529297px;
	position:absolute;
	left:1247.868896484375px;
	top:743.52001953125px;
	background-image:url(imagesDYEAtas/slice_53_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_420 { 
	width:231.74044799804688px;
	height:50.62065887451172px;
	position:absolute;
	left:1016.12841796875px;
	top:899.09716796875px;
}
.e116_421 { 
	width:227.09634399414062px;
	height:44.11892318725586px;
	position:absolute;
	left:77.092041015625px;
	top:887.951416015625px;
}
.e131_548 { 
	width:227.09634399414062px;
	height:44.11892318725586px;
	position:absolute;
	left:77.092041015625px;
	top:887.951416015625px;
	background-image:url(imagesDYEAtas/slice_55_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_422 { 
	width:100.3125px;
	height:32.97309112548828px;
	position:absolute;
	left:473.2333984375px;
	top:899.09716796875px;
}
.e131_549 { 
	width:100.3125px;
	height:32.97309112548828px;
	position:absolute;
	left:473.2333984375px;
	top:899.09716796875px;
	background-image:url(imagesDYEAtas/slice_56_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_423 { 
	width:102.6345443725586px;
	height:32.97309112548828px;
	position:absolute;
	left:743.0556640625px;
	top:899.09716796875px;
}
.e131_550 { 
	width:102.6345443725586px;
	height:32.97309112548828px;
	position:absolute;
	left:743.0556640625px;
	top:899.09716796875px;
	background-image:url(imagesDYEAtas/slice_57_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_424 { 
	width:989.6571044921875px;
	height:17.64756965637207px;
	position:absolute;
	left:26.471435546875px;
	top:932.0703125px;
}
.e131_551 { 
	width:989.6571044921875px;
	height:17.64756965637207px;
	position:absolute;
	left:26.471435546875px;
	top:932.0703125px;
	background-image:url(imagesDYEAtas/slice_58_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_425 { 
	width:50.62065887451172px;
	height:230.81163024902344px;
	position:absolute;
	left:26.471435546875px;
	top:701.2587890625px;
}
.e131_552 { 
	width:50.62065887451172px;
	height:230.81163024902344px;
	position:absolute;
	left:26.471435546875px;
	top:701.2587890625px;
	background-image:url(imagesDYEAtas/slice_59_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_426 { 
	width:1875.7508544921875px;
	height:120.28211975097656px;
	position:absolute;
	left:26.471435546875px;
	top:949.7178955078125px;
}
.e131_553 { 
	width:1875.7508544921875px;
	height:120.28211975097656px;
	position:absolute;
	left:26.471435546875px;
	top:949.7178955078125px;
	background-image:url(imagesDYEAtas/slice_60_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e122_491 { 
	width:153.2552032470703px;
	height:84.98697662353516px;
	position:absolute;
	left:1379.296875px;
	top:353.880126953125px;
}
.e131_540 { 
	width:153.2552032470703px;
	height:84.98697662353516px;
	position:absolute;
	left:1379.296875px;
	top:353.880126953125px;
	background-image:url(imagesDYEAtas/belah_cuci_03_revisi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*
.e131_540_s { 
	width:153.2552032470703px;
	height:84.98697662353516px;
	position:absolute;
	left:1379.296875px;
	top:353.880126953125px;
	background-image:url(imagesDYEAtas/belah_cuci_03_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_540_r { 
	width:153.2552032470703px;
	height:84.98697662353516px;
	position:absolute;
	left:1379.296875px;
	top:353.880126953125px;
	background-image:url(imagesDYEAtas/belah_cuci_03_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
*/
.e131_499 { 
	width:103.56336212158203px;
	height:100.77690887451172px;
	position:absolute;
	left:673.39404296875px;
	top:321.37158203125px;
	background-image:url(imagesDYEAtas/slice_6_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_518 { 
	width:169.50953674316406px;
	height:267.03558349609375px;
	position:absolute;
	left:573.5458984375px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2227_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_518_s { 
	width:169.50953674316406px;
	height:267.03558349609375px;
	position:absolute;
	left:573.5458984375px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2227_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_518_bs { 
	width:169.50953674316406px;
	height:267.03558349609375px;
	position:absolute;
	left:573.5458984375px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2227_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_518_r { 
	width:169.50953674316406px;
	height:267.03558349609375px;
	position:absolute;
	left:573.5458984375px;
	top:665.03466796875px;
	background-image:url(imagesDYEAtas/m_2227_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e131_547 { 
	width:231.74044799804688px;
	height:50.62065887451172px;
	position:absolute;
	left:1016.12841796875px;
	top:899.09716796875px;
	background-image:url(imagesDYEAtas/slice_54_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
