.72_204 { 
	overflow:hidden;
}
.e72_204 { 
	width:1902.22216796875px;
	height:1070px;
	position:absolute;
}
.e69_48 { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:670.14306640625px;
	top:680.82470703125px;
}
.e72_144 { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:670.14306640625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1449_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_144_s { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:670.14306640625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1449_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_144_r { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:670.14306640625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1449_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_66 { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:56.193603515625px;
	top:133.75px;
}
.e72_145 { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:56.193603515625px;
	top:133.75px;
	background-image:url(imagesKNTBawah/m_airo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_145_s { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:56.193603515625px;
	top:133.75px;
	background-image:url(imagesKNTBawah/m_airo_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_145_r { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:56.193603515625px;
	top:133.75px;
	background-image:url(imagesKNTBawah/m_airo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_68 { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:238.2421875px;
	top:133.75px;
}
.e72_146 { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:238.2421875px;
	top:133.75px;
	background-image:url(imagesKNTBawah/m_wet_pech_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_146_s { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:238.2421875px;
	top:133.75px;
	background-image:url(imagesKNTBawah/m_wet_pech_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_146_r { 
	width:135.60763549804688px;
	height:152.32638549804688px;
	position:absolute;
	left:238.2421875px;
	top:133.75px;
	background-image:url(imagesKNTBawah/m_wet_pech_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_193 { 
	width:46.44097137451172px;
	height:152.32638549804688px;
	position:absolute;
	left:191.80126953125px;
	top:133.75px;
	background-image:url(imagesKNTBawah/slice_2358_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_54 { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:670.14306640625px;
	top:839.65283203125px;
}
.e72_147 { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:670.14306640625px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1413_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_147_s { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:670.14306640625px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1413_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_147_r { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:670.14306640625px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1413_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_58 { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:805.7509765625px;
	top:839.65283203125px;
}
.e72_148 { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:805.7509765625px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1419_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_148_s { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:805.7509765625px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1419_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_148_r { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:805.7509765625px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1419_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_60 { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:941.3583984375px;
	top:839.65283203125px;
}
.e72_149 { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:941.3583984375px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1484_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_149_s { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:941.3583984375px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1484_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_149_r { 
	width:135.60763549804688px;
	height:155.57725524902344px;
	position:absolute;
	left:941.3583984375px;
	top:839.65283203125px;
	background-image:url(imagesKNTBawah/m_1484_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_62 { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:805.7509765625px;
	top:681.2890625px;
}
.e72_156 { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:805.7509765625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1412_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_156_s { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:805.7509765625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1412_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_156_r { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:805.7509765625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1412_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_64 { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:941.3583984375px;
	top:681.2890625px;
}
.e72_154 { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:941.3583984375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1118_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_154_s { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:941.3583984375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1118_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_154_r { 
	width:135.60763549804688px;
	height:158.36370849609375px;
	position:absolute;
	left:941.3583984375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1118_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_73 { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:473.2333984375px;
}
.e72_157 { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:473.2333984375px;
	background-image:url(imagesKNTBawah/m_1457_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_157_s { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:473.2333984375px;
	background-image:url(imagesKNTBawah/m_1457_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_157_r { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:473.2333984375px;
	background-image:url(imagesKNTBawah/m_1457_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_77 { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:577.26123046875px;
}
.e72_158 { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:577.26123046875px;
	background-image:url(imagesKNTBawah/m_1483_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_158_s { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:577.26123046875px;
	background-image:url(imagesKNTBawah/m_1483_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_158_r { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:577.26123046875px;
	background-image:url(imagesKNTBawah/m_1483_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_75 { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:369.205810546875px;
}
.e72_159 { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:369.205810546875px;
	background-image:url(imagesKNTBawah/m_1454_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_159_s { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:369.205810546875px;
	background-image:url(imagesKNTBawah/m_1454_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_159_r { 
	width:91.48871612548828px;
	height:104.02777862548828px;
	position:absolute;
	left:56.193603515625px;
	top:369.205810546875px;
	background-image:url(imagesKNTBawah/m_1454_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_79 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:681.2890625px;
}
.e72_160 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1478_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_160_s { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1478_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_160_r { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1478_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_82 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:758.845458984375px;
}
.e72_161 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:758.845458984375px;
	background-image:url(imagesKNTBawah/m_1477_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_161_s { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:758.845458984375px;
	background-image:url(imagesKNTBawah/m_1477_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_161_r { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:758.845458984375px;
	background-image:url(imagesKNTBawah/m_1477_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_84 { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:56.193603515625px;
	top:836.40185546875px;
}
.e72_162 { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:56.193603515625px;
	top:836.40185546875px;
	background-image:url(imagesKNTBawah/m_1476_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_162_s { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:56.193603515625px;
	top:836.40185546875px;
	background-image:url(imagesKNTBawah/m_1476_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_162_r { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:56.193603515625px;
	top:836.40185546875px;
	background-image:url(imagesKNTBawah/m_1476_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_90 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:681.2890625px;
}
.e72_164 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1482_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_164_s { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1482_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_164_r { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1482_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_163 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:917.673583984375px;
	background-image:url(imagesKNTBawah/m_1475_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_163_s { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:917.673583984375px;
	background-image:url(imagesKNTBawah/m_1475_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_163_r { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:917.673583984375px;
	background-image:url(imagesKNTBawah/m_1475_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_92 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:758.845458984375px;
}
.e72_165 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:758.845458984375px;
	background-image:url(imagesKNTBawah/m_1481_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_165_s { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:758.845458984375px;
	background-image:url(imagesKNTBawah/m_1481_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_165_r { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:758.845458984375px;
	background-image:url(imagesKNTBawah/m_1481_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_96 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:917.673583984375px;
}
.e72_167 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:917.673583984375px;
	background-image:url(imagesKNTBawah/m_1479_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_167_s { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:917.673583984375px;
	background-image:url(imagesKNTBawah/m_1479_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_167_r { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:186.692626953125px;
	top:917.673583984375px;
	background-image:url(imagesKNTBawah/m_1479_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_94 { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:186.692626953125px;
	top:836.40185546875px;
}
.e72_166 { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:186.692626953125px;
	top:836.40185546875px;
	background-image:url(imagesKNTBawah/m_1480_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_166_s { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:186.692626953125px;
	top:836.40185546875px;
	background-image:url(imagesKNTBawah/m_1480_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_166_r { 
	width:65.94618225097656px;
	height:81.27169799804688px;
	position:absolute;
	left:186.692626953125px;
	top:836.40185546875px;
	background-image:url(imagesKNTBawah/m_1480_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_88 { 
	width:65.94618225097656px;
	height:77.55642700195312px;
	position:absolute;
	left:56.193603515625px;
	top:917.673583984375px;
}
.e71_98 { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:303.723876953125px;
	top:681.2890625px;
}
.e72_168 { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:303.723876953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1455_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_168_s { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:303.723876953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1455_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_168_r { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:303.723876953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1455_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_102 { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:436.545166015625px;
	top:681.2890625px;
}
.e72_171 { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:436.545166015625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1467_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_171_s { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:436.545166015625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1467_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_171_r { 
	width:92.41753387451172px;
	height:104.4921875px;
	position:absolute;
	left:436.545166015625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1467_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_99 { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:303.723876953125px;
	top:785.78125px;
}
.e72_169 { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:303.723876953125px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1456_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_169_s { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:303.723876953125px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1456_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_169_r { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:303.723876953125px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1456_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_104 { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:436.545166015625px;
	top:785.78125px;
}
.e72_172 { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:436.545166015625px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1466_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_172_s { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:436.545166015625px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1466_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_172_r { 
	width:92.41753387451172px;
	height:101.24131774902344px;
	position:absolute;
	left:436.545166015625px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1466_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_101 { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:303.723876953125px;
	top:887.0224609375px;
}
.e72_170 { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:303.723876953125px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1459_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_170_s { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:303.723876953125px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1459_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_170_r { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:303.723876953125px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1459_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_106 { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:436.545166015625px;
	top:887.0224609375px;
}
.e72_173 { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:436.545166015625px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1465_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_173_s { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:436.545166015625px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1465_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_173_r { 
	width:92.41753387451172px;
	height:108.20746612548828px;
	position:absolute;
	left:436.545166015625px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1465_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_108 { 
	width:88.23784637451172px;
	height:104.4921875px;
	position:absolute;
	left:568.4375px;
	top:681.2890625px;
}
.e72_174 { 
	width:88.23784637451172px;
	height:104.4921875px;
	position:absolute;
	left:568.4375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1452_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_174_s { 
	width:88.23784637451172px;
	height:104.4921875px;
	position:absolute;
	left:568.4375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1452_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_174_r { 
	width:88.23784637451172px;
	height:104.4921875px;
	position:absolute;
	left:568.4375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_1452_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_109 { 
	width:88.23784637451172px;
	height:101.24131774902344px;
	position:absolute;
	left:568.4375px;
	top:785.78125px;
}
.e72_175 { 
	width:88.23784637451172px;
	height:101.24131774902344px;
	position:absolute;
	left:568.4375px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1453_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_175_s { 
	width:88.23784637451172px;
	height:101.24131774902344px;
	position:absolute;
	left:568.4375px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1453_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_175_r { 
	width:88.23784637451172px;
	height:101.24131774902344px;
	position:absolute;
	left:568.4375px;
	top:785.78125px;
	background-image:url(imagesKNTBawah/m_1453_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_110 { 
	width:88.23784637451172px;
	height:108.20746612548828px;
	position:absolute;
	left:568.4375px;
	top:887.0224609375px;
}
.e72_176 { 
	width:88.23784637451172px;
	height:108.20746612548828px;
	position:absolute;
	left:568.4375px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1458_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_176_s { 
	width:88.23784637451172px;
	height:108.20746612548828px;
	position:absolute;
	left:568.4375px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1458_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_176_r { 
	width:88.23784637451172px;
	height:108.20746612548828px;
	position:absolute;
	left:568.4375px;
	top:887.0224609375px;
	background-image:url(imagesKNTBawah/m_1458_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_111 { 
	width:104.95659637451172px;
	height:105.42100524902344px;
	position:absolute;
	left:1076.966064453125px;
	top:784.8525390625px;
}
.e72_177 { 
	width:104.95659637451172px;
	height:105.42100524902344px;
	position:absolute;
	left:1076.966064453125px;
	top:784.8525390625px;
	background-image:url(imagesKNTBawah/m_1409_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_177_s { 
	width:104.95659637451172px;
	height:105.42100524902344px;
	position:absolute;
	left:1076.966064453125px;
	top:784.8525390625px;
	background-image:url(imagesKNTBawah/m_1409_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_177_r { 
	width:104.95659637451172px;
	height:105.42100524902344px;
	position:absolute;
	left:1076.966064453125px;
	top:784.8525390625px;
	background-image:url(imagesKNTBawah/m_1409_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_112 { 
	width:104.95659637451172px;
	height:104.95659637451172px;
	position:absolute;
	left:1076.966064453125px;
	top:890.2734375px;
}
.e72_178 { 
	width:104.95659637451172px;
	height:104.95659637451172px;
	position:absolute;
	left:1076.966064453125px;
	top:890.2734375px;
	background-image:url(imagesKNTBawah/m_1450_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_178_s { 
	width:104.95659637451172px;
	height:104.95659637451172px;
	position:absolute;
	left:1076.966064453125px;
	top:890.2734375px;
	background-image:url(imagesKNTBawah/m_1450_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_178_r { 
	width:104.95659637451172px;
	height:104.95659637451172px;
	position:absolute;
	left:1076.966064453125px;
	top:890.2734375px;
	background-image:url(imagesKNTBawah/m_1450_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_113 { 
	width:193.19444274902344px;
	height:313.94097900390625px;
	position:absolute;
	left:1274.8046875px;
	top:681.2890625px;
}
.e72_183 { 
	width:193.19444274902344px;
	height:313.94097900390625px;
	position:absolute;
	left:1274.8046875px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2348_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_183_s { 
	width:193.19444274902344px;
	height:313.94097900390625px;
	position:absolute;
	left:1274.8046875px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2348_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_183_r { 
	width:193.19444274902344px;
	height:313.94097900390625px;
	position:absolute;
	left:1274.8046875px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2348_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_114 { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1467.9990234375px;
	top:681.2890625px;
}
.e72_182 { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1467.9990234375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2247_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_182_s { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1467.9990234375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2247_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_182_r { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1467.9990234375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2247_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_115 { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1649.583251953125px;
	top:681.2890625px;
}
.e72_181 { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1649.583251953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2246_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_181_s { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1649.583251953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2246_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_181_r { 
	width:181.58419799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:1649.583251953125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/m_2246_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_116 { 
	width:176.0112762451172px;
	height:208.51995849609375px;
	position:absolute;
	left:1104.3662109375px;
	top:83.12939453125px;
}
.e72_150 { 
	width:176.0112762451172px;
	height:208.51995849609375px;
	position:absolute;
	left:1104.3662109375px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1114_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_150_s { 
	width:176.0112762451172px;
	height:208.51995849609375px;
	position:absolute;
	left:1104.3662109375px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1114_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_150_r { 
	width:176.0112762451172px;
	height:208.51995849609375px;
	position:absolute;
	left:1104.3662109375px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1114_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_117 { 
	width:185.76388549804688px;
	height:208.51995849609375px;
	position:absolute;
	left:1280.37744140625px;
	top:83.12939453125px;
}
.e72_153 { 
	width:185.76388549804688px;
	height:208.51995849609375px;
	position:absolute;
	left:1280.37744140625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1117_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_153_s { 
	width:185.76388549804688px;
	height:208.51995849609375px;
	position:absolute;
	left:1280.37744140625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1117_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_153_r { 
	width:185.76388549804688px;
	height:208.51995849609375px;
	position:absolute;
	left:1280.37744140625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1117_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_118 { 
	width:182.97743225097656px;
	height:208.51995849609375px;
	position:absolute;
	left:1466.1416015625px;
	top:83.12939453125px;
}
.e72_152 { 
	width:182.97743225097656px;
	height:208.51995849609375px;
	position:absolute;
	left:1466.1416015625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1116_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_152_s { 
	width:182.97743225097656px;
	height:208.51995849609375px;
	position:absolute;
	left:1466.1416015625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1116_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_152_r { 
	width:182.97743225097656px;
	height:208.51995849609375px;
	position:absolute;
	left:1466.1416015625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1116_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_119 { 
	width:182.04859924316406px;
	height:208.51995849609375px;
	position:absolute;
	left:1649.118896484375px;
	top:83.12939453125px;
}
.e72_180 { 
	width:182.04859924316406px;
	height:208.51995849609375px;
	position:absolute;
	left:1649.118896484375px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1451_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_180_s { 
	width:182.04859924316406px;
	height:208.51995849609375px;
	position:absolute;
	left:1649.118896484375px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1451_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_180_r { 
	width:182.04859924316406px;
	height:208.51995849609375px;
	position:absolute;
	left:1649.118896484375px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/m_1451_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_120 { 
	width:185.76388549804688px;
	height:216.87933349609375px;
	position:absolute;
	left:1280.37744140625px;
	top:291.6494140625px;
}
.e72_179 { 
	width:185.76388549804688px;
	height:216.87933349609375px;
	position:absolute;
	left:1280.37744140625px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/m_1410_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_179_s { 
	width:185.76388549804688px;
	height:216.87933349609375px;
	position:absolute;
	left:1280.37744140625px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/m_1410_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_179_r { 
	width:185.76388549804688px;
	height:216.87933349609375px;
	position:absolute;
	left:1280.37744140625px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/m_1410_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_121 { 
	width:182.97743225097656px;
	height:216.87933349609375px;
	position:absolute;
	left:1466.1416015625px;
	top:291.6494140625px;
}
.e72_151 { 
	width:182.97743225097656px;
	height:216.87933349609375px;
	position:absolute;
	left:1466.1416015625px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/m_1115_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_151_s { 
	width:182.97743225097656px;
	height:216.87933349609375px;
	position:absolute;
	left:1466.1416015625px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/m_1115_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_151_r { 
	width:182.97743225097656px;
	height:216.87933349609375px;
	position:absolute;
	left:1466.1416015625px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/m_1115_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_122 { 
	width:1902.22216796875px;
	height:74.76996612548828px;
	position:absolute;
	left:0px;
	top:995.22998046875px;
}
.e72_184 { 
	width:1902.22216796875px;
	height:74.76996612548828px;
	position:absolute;
	left:0px;
	top:995.22998046875px;
	background-image:url(imagesKNTBawah/slice_2349_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_123 { 
	width:1902.22216796875px;
	height:83.12934112548828px;
	position:absolute;
	left:0px;
	top:0px;
}
.e72_185 { 
	width:1902.22216796875px;
	height:83.12934112548828px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(imagesKNTBawah/slice_2350_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_124 { 
	width:71.0546875px;
	height:912.1007080078125px;
	position:absolute;
	left:1831.16748046875px;
	top:83.12939453125px;
}
.e72_186 { 
	width:71.0546875px;
	height:912.1007080078125px;
	position:absolute;
	left:1831.16748046875px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/slice_2351_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_125 { 
	width:1683.4852294921875px;
	height:87.7734375px;
	position:absolute;
	left:147.682373046875px;
	top:508.528564453125px;
}
.e72_187 { 
	width:1683.4852294921875px;
	height:87.7734375px;
	position:absolute;
	left:147.682373046875px;
	top:508.528564453125px;
	background-image:url(imagesKNTBawah/slice_2352_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_126 { 
	width:1683.4852294921875px;
	height:84.98697662353516px;
	position:absolute;
	left:147.682373046875px;
	top:596.302001953125px;
}
.e72_188 { 
	width:1683.4852294921875px;
	height:84.98697662353516px;
	position:absolute;
	left:147.682373046875px;
	top:596.302001953125px;
	background-image:url(imagesKNTBawah/slice_2353_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_127 { 
	width:104.95659637451172px;
	height:103.56336975097656px;
	position:absolute;
	left:1076.966064453125px;
	top:681.2890625px;
}
.e72_189 { 
	width:104.95659637451172px;
	height:103.56336975097656px;
	position:absolute;
	left:1076.966064453125px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/slice_2354_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_128 { 
	width:92.88194274902344px;
	height:313.94097900390625px;
	position:absolute;
	left:1181.9228515625px;
	top:681.2890625px;
}
.e72_190 { 
	width:92.88194274902344px;
	height:313.94097900390625px;
	position:absolute;
	left:1181.9228515625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/slice_2355_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_130 { 
	width:56.193572998046875px;
	height:912.1007080078125px;
	position:absolute;
	left:0px;
	top:83.12939453125px;
}
.e72_191 { 
	width:56.193572998046875px;
	height:912.1007080078125px;
	position:absolute;
	left:0px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/slice_2356_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_131 { 
	width:1048.1727294921875px;
	height:50.62065887451172px;
	position:absolute;
	left:56.193603515625px;
	top:83.12939453125px;
}
.e72_192 { 
	width:1048.1727294921875px;
	height:50.62065887451172px;
	position:absolute;
	left:56.193603515625px;
	top:83.12939453125px;
	background-image:url(imagesKNTBawah/slice_2357_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_132 { 
	width:46.44097137451172px;
	height:152.32638549804688px;
	position:absolute;
	left:191.80126953125px;
	top:133.75px;
}
.e72_133 { 
	width:1048.1727294921875px;
	height:83.12934112548828px;
	position:absolute;
	left:56.193603515625px;
	top:286.076416015625px;
}
.e72_194 { 
	width:1048.1727294921875px;
	height:83.12934112548828px;
	position:absolute;
	left:56.193603515625px;
	top:286.076416015625px;
	background-image:url(imagesKNTBawah/slice_2359_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_134 { 
	width:730.5164794921875px;
	height:152.32638549804688px;
	position:absolute;
	left:373.849853515625px;
	top:133.75px;
}
.e72_195 { 
	width:730.5164794921875px;
	height:152.32638549804688px;
	position:absolute;
	left:373.849853515625px;
	top:133.75px;
	background-image:url(imagesKNTBawah/slice_2360_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_135 { 
	width:1132.6953125px;
	height:139.3229217529297px;
	position:absolute;
	left:147.682373046875px;
	top:369.205810546875px;
}
.e72_196 { 
	width:1132.6953125px;
	height:139.3229217529297px;
	position:absolute;
	left:147.682373046875px;
	top:369.205810546875px;
	background-image:url(imagesKNTBawah/slice_2361_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_136 { 
	width:176.0112762451172px;
	height:77.55642700195312px;
	position:absolute;
	left:1104.3662109375px;
	top:291.6494140625px;
}
.e72_197 { 
	width:176.0112762451172px;
	height:77.55642700195312px;
	position:absolute;
	left:1104.3662109375px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/slice_2362_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_138 { 
	width:182.04859924316406px;
	height:216.87933349609375px;
	position:absolute;
	left:1649.118896484375px;
	top:291.6494140625px;
}
.e74_206 { 
	width:182.04859924316406px;
	height:216.87933349609375px;
	position:absolute;
	left:1649.118896484375px;
	top:291.6494140625px;
	background-image:url(imagesKNTBawah/slice_2363_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_139 { 
	width:64.55294799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:122.1396484375px;
	top:681.2890625px;
}
.e72_200 { 
	width:64.55294799804688px;
	height:313.94097900390625px;
	position:absolute;
	left:122.1396484375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/slice_2364_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_201 { 
	width:51.08506774902344px;
	height:314.4053955078125px;
	position:absolute;
	left:252.638916015625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/slice_2365_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_140 { 
	width:51.08506774902344px;
	height:314.4053955078125px;
	position:absolute;
	left:252.638916015625px;
	top:680.82470703125px;
}
.e72_141 { 
	width:40.40364456176758px;
	height:314.4053955078125px;
	position:absolute;
	left:396.1416015625px;
	top:680.82470703125px;
}
.e72_202 { 
	width:40.40364456176758px;
	height:314.4053955078125px;
	position:absolute;
	left:396.1416015625px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/slice_2366_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_142 { 
	width:39.47482681274414px;
	height:313.94097900390625px;
	position:absolute;
	left:528.962646484375px;
	top:681.2890625px;
}
.e72_203 { 
	width:39.47482681274414px;
	height:313.94097900390625px;
	position:absolute;
	left:528.962646484375px;
	top:681.2890625px;
	background-image:url(imagesKNTBawah/slice_2367_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_143 { 
	width:13.467881202697754px;
	height:314.4053955078125px;
	position:absolute;
	left:656.67529296875px;
	top:680.82470703125px;
}
.e72_155 { 
	width:13.467881202697754px;
	height:314.4053955078125px;
	position:absolute;
	left:656.67529296875px;
	top:680.82470703125px;
	background-image:url(imagesKNTBawah/slice_2368_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
